.content {
    display: flex;
    float: left;
    width: 33.3%;
    height: 100px;
}

#red {
    background-color: red;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}
#yellow {
    background-color: yellow;
}
#purple {
    background-color: purple;
}
#grey {
    background-color: gray;
}

@media screen and (max-width: 960px) { 
    .content {
        width: 50%;
    }
}

@media screen and (max-width: 600px) { 
    .content {
        width: 100%;
    }
}